:root {
  --red: #e63946;
  --gold: #ffd700;
  --blue: #1e90ff;
  --silver: #c0c0c0;
  --black: #0d0d0d;
}

.text-car-gold {
  color: var(--gold);
}
.text-red {
  color: var(--red);
}
.bg-car-red {
  background-color: var(--red);
}
.bg-car-blue {
  background-color: var(--blue);
}
.bg-car-black {
  background-color: var(--black);
}
.bg-car-silver {
  background-color: var(--silver);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
